$orange-LW1:   #f37221;
$black1:    #000000;
$theColour: $orange-LW1;

$link-color: $theColour;

$body-heading-color: $theColour;
$body-text-color: $grey-dk-300;

$code-background-color: $black1;
$code-foreground-color: $white;
