//
// Custom overrides from a user.
//


// add font colour setting to the code rendering
code {
  padding: 0.2em 0.15em;
  font-weight: 400;
  background-color: $code-background-color;
  color: $code-foreground-color;
  border: $border $border-color;
  border-radius: $border-radius;
}
